#search-input {
  width: 70%; /* Ширина инпута будет занимать 70% ширины экрана */
  margin-left:15%; /*Параметры для отображения по центру ширины*/
  margin-right:15%;
  margin-top:32px; /*Отступ от шапки*/
  margin-bottom: 32px; /*Отступ от контента*/
  padding: 10px 15px; /* Внутренние отступы для удобства ввода текста */
  border: 2px solid #3498db; /* Голубая граница */
  border-radius: 30px; /* Закругление углов для создания округлой формы */
  outline: none; /* Убираем стандартный outline, который появляется при фокусе */
  font-size: 16px; /* Размер шрифта текста */
  color: #333; /* Цвет текста */
  background-color: white; /* Белый фон инпута */
  transition: border-color 0.3s; /* Плавный переход границы */
}


