.search-input {
  width: 70%; /* Ширина инпута будет занимать 70% ширины экрана */
  margin-left:15%; /*Параметры для отображения по центру ширины*/
  margin-right:15%;
  margin-top:16px; /*Отступ от шапки*/
  margin-bottom: 16px; /*Отступ от контента*/
}


